﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - XboxGamesNews</title>
    @Styles.Render("~/Home/css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow bg-dark">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="~/Noticias">Xbox Games News RM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Noticias">Inicio <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownJuegos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Juegos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownJuegos">
                            <a class="dropdown-item" href="~/WWZ">Guerra Mundial Z</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Gears5">Gears 5</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/FIFA">FIFA</a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="centrar">

            &copy; @DateTime.Now.Year - XboxGamesNewsRM Original
        
        </footer>
        <div class="notas">
            <a href="#"><img src="~/IMG/facebook.png" /></a>
            <a href="https://www.instagram.com/gamers_xbox19/"><img src="~/IMG/instagram.png" /></a>
            <a href="https://twitter.com/xboxgamesrm"><img src="~/IMG/twiter.png" /></a>
            <a href="https://www.youtube.com/channel/UCLnxu4PBJjtiYe_op3V9Ekg/featured"><img src="~/IMG/youtube.png" /></a>
        </div>
    </div>

    @Scripts.Render("~/Home/js")

</body>
</html>
