﻿<div class="bd-example shadow">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            @*<li data-target="#carouselExampleCaptions" data-slide-to="3" ></li>*@
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://compass-ssl.xbox.com/assets/a8/0d/a80ddaff-a125-4723-97ce-1d41db2fa09e.jpg?n=4848_GLP-Page-Hero-1084_1920x1080.jpg" class="d-block w-100 altura" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Noticias Gears 5-proximamente...</h5>
                    <p>Descripcion aqui.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://static.trueachievements.com/customimages/073835.jpg" class="d-block w-100 altura" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Noticias World War Z-proximamente...</h5>
                    <p>Descripcion aqui.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://uncharted6.com/wp-content/uploads/2018/12/fifa-20.jpg" class="d-block w-100 altura" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Noticias FIFA-proximamente...</h5>
                    <p>Descripcion breve aqui.</p>
                </div>
            </div>
            @*<div class="carousel-item ">
                

                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>*@
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

