﻿@{
    ViewBag.Title = "Noticias";
}

<div class="jumbotron style-07">
    <h1>Xbox Games News RM</h1>
    <p class="lead">Xbox Games News RM - Es una pagina donde compartimos noticias relevantes de los juegos World War Z, Gears 5 entre otros mas proximanente. </p>
    <p><a href="~/Noticias/Acerca" class="btn btn-info btn-lg">Acerca de nosotros &raquo;</a></p>
</div>
<hr />
@*@Html.Partial("Carousel")*@
<div class="centrar">
    <h2>Video destacado de la semana </h2>
    <iframe class="iframe-youtube" width="560" height="315" src="https://www.youtube.com/embed/boEvAAngTsc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="card-text">
        Los hackers estan haciendo sus apariciones en World War Z -
        Tomando ventaja del entorno para introducirse dentro de los objetos del juego y no recibir daño alguno.
    </p>
</div>
<hr />
<div class="notas">
    <h2>&laquo; Ultimas Notas &raquo;</h2>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-sm-12 card no-border" style="">
        @*<img src="https://static.trueachievements.com/customimages/073835.jpg" class="card-img-top">*@
        <img src="https://imgbox.es/images/2019/08/06/wwzb9e2933acd28808a.png" class="card-img-top">
        <div class="card-body">
            <h4 class="title">World War Z <span class="badge badge-default">Nuevo</span></h4>
            <p class="card-text">Quieres saber como subir de nivel rapido las armas de la campaña en WWZ?</p>
            <p>Aqui en nuestra nueva nota te mostramos como...</p>
            <a href="~/WWZ/Guias/1" class="btn btn-default">Leer nota completa &raquo;</a>
        </div>

    </div>
    <div class="col-md-4 card no-border" style="">
        @*<img src="https://compass-ssl.xbox.com/assets/a8/0d/a80ddaff-a125-4723-97ce-1d41db2fa09e.jpg?n=4848_GLP-Page-Hero-1084_1920x1080.jpg" class="card-img-top altura-img-cards">*@
        <img src="https://imgbox.es/images/2019/08/06/gears5bcb0ebe0f4218710.md.jpg" alt="gears5bcb0ebe0f4218710.jpg" class="card-img-top altura-img-cards">
        <div class="card-body">
            <h4 class="title">Gears 5 <span class="badge badge-default">Nuevo</span></h4>
            <p class="card-text">Proximamente...</p>
            <a href="#" class="btn btn-default">Leer nota completa &raquo;</a>
        </div>

    </div>
    <div class="col-md-4 card no-border" style="">
        @*<img src="http://uncharted6.com/wp-content/uploads/2018/12/fifa-20.jpg" class="card-img-top altura-img-cards">*@
        <img src="https://imgbox.es/images/2019/08/06/fifa-2079e3f8786a30a75e.jpg" class="card-img-top altura-img-cards">
        <div class="card-body">
            <h4 class="title">FIFA <span class="badge badge-default">Nuevo</span></h4>
            <p class="card-text">Proximamente...</p>
            <a href="#" class="btn btn-default">Leer nota completa &raquo;</a>
        </div>

    </div>
</div>