﻿<h2 class="title">Guia 1 - Como Conseguir Experiencia para tus Armas Facil Y Rapido.</h2>
<h6 class="title">Alexis Martinez - 08 de Agosto del 2019.</h6>

<hr />
<div class="centrar">
    <h4 class="title">(PASO 1) - ELEGIR SALA PRIVADA.</h4>
    <h4 class="title">(PASO 2) - ELEGIR LA DIFICULTAD DE UNA CALAVERA. </h4>
    <h4 class="title">(PASO 3) - SELECCIONAR EL EPISODIO 3 (MOSCU) CAPITULO 1 SEÑAL DEL CIELO.</h4>
    <img class="full-width" src="https://imgbox.es/images/2019/08/08/select-moscu5312ed1dde580501.png" alt="select-moscu5312ed1dde580501.png" border="0" />
    <h4 class="title">(PASO 4) - JUGAR EL CAPITULO CON NORMALIDAD HASTA LLEGAR AL SEGUNDO CUARTO DE LOS PANELES DE SEGURIDAD. </h4>
    <img class="full-width" src="https://imgbox.es/images/2019/08/08/defende-la-posicionf805b5e85803309e.png" alt="defende-la-posicionf805b5e85803309e.png" border="0" />
    <h4 class="title">(PASO 5) - EN ESTA PARTE DEL CAPITULO EL JUEGO TE PEDIRA QUE DEFIENDAS LA POSICION HASTA QUE SE DESBLOQUEE EL SISTEMA DE SEGURIDAD DESPUES DE DEFENDER LA POSICION CON EXITO. </h4>
    <h4 align="justify">
        EL JUEGO TE PEDIRA  QUE ENCUENTRES EL SIGUIENTE PANEL DE SEGURIDAD QUÉ ESTARÁ MARCADO EN EL MAPA,
        PERO NADA TE OBLIGA A IR DIRECTAMENTE AL PANEL DE SEGURIDAD,
        TE PUEDES QUEDAR A MATAR A LOS CIENTOS DE ZOMBIES QUE SEGUIRÁN LLEGANDO CASI SIN FIN PARA SUBIR DE NIVEL
        TU ARMA NO IMPORTA LA DIFUCLTAD. 
        
     
    </h4>
    <br />
    <h4 align="justify">
        LA EXP DE ARMAS OBTENIDA ES LA MISMA EN CUALQUIER DIFICULTAD,
        POR LO QUE ESTE MÉTODO TE AYUDARÁ MUCHO PARA SUBIR TODAS TUS ARMAS A NIVEL 5 EN LA CAMPAÑA,
        QUE MAS TARDE OCUPARAS SI QUIERES COMPLETAR LA CAMPAÑA EN DIFICULTA MÁXIMA, QUE DESDE YA LES AVISAMOS,
        ES ALGO BRUTAL Y INSUPERABLE,  PERO ESO SERÁ PARA OTRA NOTA, ESPERO ENCUENTREN ÚTIL ESTE MÉTODO
        PARA SUBIR DE NIVEL SUS ARMAS AMIGOS.
        
    </h4>
    <h4>
        HASTA LA PRÓXIMA.
    </h4>
</div>
