﻿@{
    ViewBag.Title = "Gears 5 Contenido";
}
<div align="center" class="">
    <h1>Contenido Gears 5</h1>
</div>
<hr />
<p class="notas">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseNotas" aria-expanded="false">
        Noticias de Gears 5
    </button>
</p>
<div class="collapse" id="collapseNotas">
    <div class="card card-body no-border">
        @Html.Partial("TablaNotas")
    </div>
</div>
<hr />
<p class="notas">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseGuias" aria-expanded="false" aria-controls="collapseGuias">
        Guias y Consejos de Gears 5
    </button>
</p>
<div class="collapse" id="collapseGuias">
    <div class="card card-body no-border">
        @Html.Partial("TablaGuiasConsejos")
    </div>
</div>

