﻿<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Guias y Consejos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>[<a href="">Guia 1-Proximamente</a>]</td>
        </tr>

    </tbody>
</table>

