﻿
@{
    ViewBag.Title = "WWZ";
}

<div align="center" class="">
    <h1>Contenido World War Z</h1>
</div>
<hr />
<p class="notas">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseNotas" aria-expanded="false">
        Noticias de World War Z
    </button>
</p>
<div class="collapse" id="collapseNotas">
    <div class="card card-body no-border">
        @Html.Partial("TablaNotas")
    </div>
</div>
<hr />
<p class="notas">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseGuias" aria-expanded="false" aria-controls="collapseGuias">
        Guias de World War Z
    </button>
</p>
<div class="collapse" id="collapseGuias">
    <div class="card card-body no-border">
        @Html.Partial("TablaGuiasConsejos")
    </div>
</div>
