﻿<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Guias y Consejos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>[<a href="~/WWZ/Guias/1">GUIA 1 - COMO CONSEGUIR EXPERIENCIA PARA TUS ARMAS FACIL Y RAPIDO</a>]</td>
        </tr>

    </tbody>
</table>

