﻿.body-content {
     margin-top: 100px;
}
.centrar {
    justify-content:center;
}
.notas, .centrar {
    text-align: center;
}
.full-width {
    width: 100%;
}

.altura-img-cards {
    height: 197px;
    width:100%;
}
.no-border {
 border: none;
}
table {
    text-align: center;
}
.iframe-youtube {
    width:100%;
}
/*jumbotrom*/
.style-07 {
    position: relative;
}

    .style-07::before, .style-07::after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .style-07::after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }
